# Database
DATABASE_URL="mysql://root:password@localhost:3306/beyond_school_ppdb"

# Better Auth
BETTER_AUTH_SECRET="change-me-to-a-random-string"
BETTER_AUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_NAME="Beyond School PPDB"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
